body { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: normal 18px/25px 'Rokkitt', Georgia, serif;
    vertical-align: baseline;
  }
  #map { position:absolute; top:0; bottom:0; width:100%; }

  .map-legend .swatch {
  width:20px;
  height:20px;
  float:left;
  margin-right:10px;
  }
.leaflet-popup-close-button {
  display: none;
  }
.leaflet-popup-content-wrapper {
  pointer-events: none;
  }
.leaflet-top-pane {
    pointer-events: none;
  }

#map-ui {
  position: absolute;
  height: 100%;
  left: 0;
  width: 380px;
  margin: 0;
  padding: 0;
  z-index: 100;
  background: rgba(255,255,255,0);
}

.btn-group, .btn-group-vertical {
  padding: 15px;
}
/*
.btn {
  margin-bottom: 4px;
  white-space: normal;
}*/

#content {
  position:absolute;
  top:0;
  right:0;
  max-width:300px;
  bottom:0;
  background:rgba(255, 255, 255, 0.7);
}
.sidecontainer {
  padding:20px;
}

a.active {
  border-width: 2px;
  border-color: #222 !important;
}

.tooltip-inner {
    width: 150px;
    font-size: 16px;
}

@media (max-width:640px) {
    
  #content {
    position:absolute;
    width:100%;
    bottom:0; 
    top:auto;
    max-height:380px;
    margin: 0;
    padding: 0;
    z-index: 100;
    background:rgba(255, 255, 255, 0.7);
  }
  .sidecontainer {
    padding:10px;
  }
  #map-ui {
    position: absolute;
    width: 100%;
    top: 0;
    max-height: 80px;
    margin: 0;
    padding: 0;
    z-index: 100;
    background: rgba(255,255,255,0.7);
  }
}
  